.App {
    text-align: center;
}

.hooks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hook {
    border: 1px solid #000;
    margin: 20px 0;
    width: 40vw;
    background-color: #ccc;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
